* {
    margin : 0;
    padding : 0;
    box-sizing:border-box;
}

img {
    vertical-align: bottom;
}

li {
    list-style:none;
}

a {
    text-decoration:none;
}

body {
    width:30%;
    margin:auto;
}

nav {
    text-align:center;
}

#Select_Page {
    display:flex;
    justify-content:center;
    font-size:24px;
    margin:10px;
}

#Sign_page {
    margin-right:10px;
}

.Auth_select_btn {
    margin:10px;
}

.text_input {
    width:100%;
    height:20px;
    margin-top:12px;
}

#Submit_btn {
    width:100%;
    height:30px;
    font-size:22px;
    text-align:center;
    margin-top:20px;
    border:none;
}