* {
    margin : 0;
    padding : 0;
    box-sizing:border-box;
}

img {
    vertical-align: bottom;
}

li {
    list-style:none;
}

a {
    text-decoration:none;
}

#nav_con {
    border-bottom : 1px solid black;
}

nav {
    display:flex;
    align-items : center;
    justify-content : space-between;
    width:60%;
    height:40px;
    margin:auto;
}

#right_nav {
    display:flex;
    justify-content:space-between;
}

.nav_right {
    margin-left:20px;
}

#categories {
    width:60%;
    height:130px;
    margin:auto;
    display:flex;
}

#categories_con {
    border:1px solid black;
}

#categories_btn {
    display:flex;
    justify-content:center;
    align-items: center;
    width:150px;
    z-index:10px;
}

#re {
    width:150px;
    height:100%;
    position:relative;
}

#position {
    width:100%;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

#Categories_list {
    margin-top: 130px;
    display:none;
}

#type_list {
    display:flex;
    width:400px;
}

#List_width {
    width:150px;
}

.li_top {
    padding-left:10px;
    border:1px solid black;
    width:100%;
    height:30px;
    position: relative;
    background: #87ceeb;
    z-index:9;
    color:white;
}

.li_top:hover {
    text-decoration:underline;
}

#logo_img {
    width:10%;
}

#category_bar {
    text-align:center;
}

#shopping_cart , #MyPage , #Menu_Bar {
    display:flex;
    justify-content:center;
    margin-bottom:10px;
    font-size:22px;
}

#My_basket, #My_page {
    width:10%;
    text-align:right;
}

#search_con {
    display:flex;
    align-items:center;
    margin-left:50px;
    width:100%;
}

#search {
    width:70%;
    margin-left:50px;
}

#select_search {
    width:19%;
    height:40px;
}

#input_search {
    width:70%;
    height:40px;
}

#Type_container{
    display:flex;
    width:100%;
    justify-content:center;
    margin:50px auto;
}

#Type_name_list {
    width:10%;
}

#img_type {
    display:flex;
    width:60%;
    justify-content:space-between;
    flex-wrap: wrap;
}

.img_display {
    width:100%;
    margin-left:20px;
}

.TypeName {
    display:flex;
    width:100%;
    font-size:20px;
    margin-top:30px;
    text-align:center;
}

#Information {
    width:80%;
    text-align:left;
    margin:auto;
}

.Detail_info {
    margin: 20px 0 0 10px ;

}

#bin_con {
    width:10%;
}

#Goods_detail {
    position:relative;
    width:200px;
    height:300px;
    z-index:10;
}

.z_height {
    position:relative;
    z-index:20;
    width:200px;
    height:30px;
    border:1px solid black;
    color:white;
    background:#87ceeb;
}

#Btn_number {
    display:flex;
    justify-content:right;
    margin-top:10px;
}

#count_number {
    width:50px;
    height:30px;
    font-size:25px;
    text-align:center;
}

.Btn_count {
    width:40px;
    height:30px;
    font-size:25px;
    text-align:center;
}

#minus_btn {
    margin-right:20px;
}

#Total_price {
    display:flex;
    justify-content:right;
    margin-top:10px;
}

#Price {
    width:100px;
    height:30px;
    margin-right:10px;
}

#Count_Price {
    width:100px;
    height:30px;
    font-size:25px;
    margin-right:20px;
    border:1px solid black;
    text-align:center;
}

#Btn_Sell {
    display:flex;
    justify-content:right;
    margin-top:10px;
}

.Sell_Detail_Btn {
    width:180px;
    height:60px;
    font-size:20px;
    text-align:center;
    background-color:none;
    margin-right:20px;
}